@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Neccessary Low";
}

<div class ="position-absolute law bg-white w-100">
    <div class="d-flex justify-content-between align-items-center mt-2">
        <div>
            <h1 style="font-size:28px; color: rgba(37, 37, 37, 1);">
                Necessary Laws
            </h1>
        </div>
        <div>
            <form class="d-flex gap-2" style="margin-right: 10px;"> 
                <select class="rounded-2 border-secondary form-select" style="width:100px !important; padding: 6px 3px !important">
                    <option>Any</option>
                    <option>Any</option>
                    <option>Any</option>
                    <option>Any</option>
                    <option>Any</option>
                </select>
                <div class="d-flex align-items-center ">
                    <input type="search" class="px-2" style="font-size:14px; padding: 6px 0" placeholder="Search Document" />
                    <i class="fa-solid fa-magnifying-glass px-2 rounded-left" style="background-color:#CF914B; padding:11px 0;"></i>
                </div>
                <input class="form-control" type="file" style="width:200px !important; padding: 6px 5px !important"/>
            </form>
        </div>
    </div>
    <div>
        <div class="mt-4">
            <table class="table" style="font-size: 12px">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">NAME</th>
                        <th scope="col">UPLOADED BY</th>
                        <th scope="col">UPDATED</th>
                        <th scope="col">TAG</th>
                        <th scope="col">SIZE</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    <tr>
                        <td>Circular of LD</td>
                        <td>Nazimul Islam</td>
                        <td>May 25, 2023</td>
                        <td class="d-flex gap-1">
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Law</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Cases</span>
                            <span class="rounded text-white px-2 cursor-pointer" style="background: rgba(39, 45, 105, 1);">Development</span>
                        </td>
                        <td>0.5 MB</td>
                        <td class="cursor-pointer"><i class="fa-solid fa-download"></i></td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>
