@{
    ViewData["Title"] = "Law Offier";
}

<div class="position-absolute law w-100" style="height:83vh; overflow: auto; background-color: white">
    <div class="" style="margin:20px 0px">
        <div class="d-flex justify-content-center gap-4 flex-wrap">
            @for (int i = 1; i<=4; i++)
            {
                <div class="rounded border" style="width: 420px;">
                    <div class="p-3" style="background-color: #DEFCD9">
                        <div class="d-flex justify-content-between align-items-center">
                            <h3 style="font-size:13px;">Law Ofiier</h3>
                            <p class="rounded border" style="padding: 10px; font-size: 14px; background-color: #E9FEE6; color:#0D834A ; border-color:#0D834A">ID: #1234564645</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <img class="rounded" style="margin-right: 10px" src="/profile.png" />
                            <div class="">
                                <h1 style="font-size:20px; font-weight:600;">Md. Sirajul Islam</h1>
                                <h3 style="font-size:14px; color: #0D834A;">Senior Principal Officer</h3>
                            </div>
                        </div>
                    </div>
                    <div class="p-3 row">
                        <div class="col-md-5 d-flex flex-column gap-3">
                            <h3 style="font-size: 14px">Posting Area :</h3>
                            <h3 style="font-size: 14px">Name of the Region :</h3>
                            <h3 style="font-size: 14px">Date Of Joining :</h3>
                            <h3 style="font-size: 14px">Date of Joining :</h3>
                            <h3 style="font-size: 14px">Mobile & IP :</h3>
                        </div>
                        <div class="col-md-7 d-flex flex-column gap-3">
                            <h3 style="font-size:14px; color: #0D834A;">Motijheel Corporate Branch</h3>
                            <h3 style="font-size:14px; color: #0D834A;">Dhaka</h3>
                            <h3 style="font-size:14px; color: #0D834A;">05-06-2023</h3>
                            <h3 style="font-size:14px; color: #0D834A;">28-05-2023</h3>
                            <h3 style="font-size:14px; color: #0D834A;">01756269830, 1663</h3>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>