<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Pubali</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Pubali.styles.css" asp-append-version="true" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>
    <div class="vh-100">
        <div class="h-200 header position-relative">
            <div class="w-100" style="padding-left:300px">
                <div class="d-flex justify-content-between">
                    <div>
                        <span class="text-white" style="font-size:14px">Pages / Dashboard</span>
                        <br />
                        <span class="text-white" style="font-size:16px">Dashboard</span>
                    </div>
                    <div class="d-flex gap-4">
                        <form class="d-flex align-items-center">
                            <i class="fa-solid fa-magnifying-glass bg-white px-2 py-2 rounded-start"></i>
                            <input type="search" class="px-2 py-1 rounded-end border-0" style="font-size:14px color: #A0AEC0" placeholder="Type here..." />
                        </form>
                        <div class="d-flex align-items-center">
                            <div class="d-flex align-items-center cursor-pointer">
                                <i class="fa-solid fa-user text-white" style="font-size:14px; margin-right:5px;"></i>
                                @if (Context.Session.GetString("LoggedInUser") != null)
                                {
                                    <span class="text-white" style="font-size:14px">@Context.Session.GetString("LoggedInUser")</span>
                                }
                                else
                                {
                                    <span class="text-white" style="font-size:14px">Ajuba Khandaker</span>
                                }
                            </div>
                            <i class="fa-solid fa-bell text-white cursor-pointer" style="font-size:14px; margin-right:30px; margin-left:20px"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-250 position-absolute sidebar rounded" style="z-index: 9999">
            <div class="d-flex flex-column justify-content-between p-3" style="height:96vh; overflow-y: auto; scroll-behavior: smooth;">
                <div>
                    <div>
                        <img src="/Logo_dashboard.svg" />
                    </div>
                    <div class="mt-3">
                        <div>
                            <ul>
                                <li class="singleMenu ">
                                    <i class="fa-solid fa-house text-success"></i>
                                    <a href="/Dashboard/Dashboard" class="" style="font-size:14px; margin-left:5px;">Dashboard</a>
                                </li>

                                <li class="singleMenu mt-2">
                                    <i class="fa-solid fa-chart-simple"></i>
                                    <a href="/Dashboard/FileSuit" class="" style="font-size:14px; margin-left:5px;">File Suit</a>
                                </li>

                                <li class="singleMenu mt-2">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                    <a href="/Dashboard/Case" class="" style="font-size:14px; margin-left:5px;">Case Search</a>
                                </li> 

                                <li class="singleMenu mt-2">
                                    <i class="fa-solid fa-wrench"></i>
                                    <a href="/Dashboard/Law" class="" style="font-size:14px; margin-left:5px;">Necessary Laws</a>
                                </li>

                                <li class="singleMenu cursor-pointer mt-2">
                                    <i class="fa-solid fa-chart-simple"></i>
                                    <a href="" class="" style="font-size:14px; margin-left:5px;">Panel Lawyers</a>
                                </li>

                                <li class="singleMenu mt-2">
                                    <i class="fa-solid fa-scale-balanced"></i>
                                    <a href="/Dashboard/LawOfficer" class="" style="font-size:14px; margin-left:5px;">Law Officers</a>
                                </li>

                                <li class="singleMenu mt-2">
                                    <i class="fa-solid fa-chart-pie"></i>
                                    <a href="" class="" style="font-size:14px; margin-left:5px;">Case Statements</a>
                                </li>

                                <li class="singleMenu mt-2">
                                    <i class="fa-solid fa-desktop"></i>
                                    <a href="" class="" style="font-size:14px; margin-left:5px;">Monitoring</a>
                                </li>

                                <h3 style="font-size:16px; color: #343C6A; padding: 15px 15px 0 15px;">ACCOUNT SETTINGS</h3>

                                <li class="singleMenu mt-2">
                                    <i class="fa-solid fa-chart-pie"></i>
                                    <a href="/Profile/Profile" class="" style="font-size:14px; margin-left:5px;">Profile</a>
                                </li>

                                <li class="singleMenu mt-2">
                                    <i class="fa-solid fa-desktop"></i>
                                    <a href="" class="" style="font-size:14px; margin-left:5px;">Account Setting</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <div>
                        <img src="/icon-documentation.svg" />
                    </div>
                    <h2 style="color:#2D3748;font-size:14px">Need Help?</h2>
                    <p style="color:#718096;font-size:12px">Please Check Our docs</p>
                    <button class="btn text-white w-100" style="background: #006536; font-size:10px; margin-bottom:5px">Documentation</button>
                    <button class="btn text-white w-100" style="background: #2D3748; font-size:10px">Sign Out</button>
                </div>
            </div>
        </div>


        <div class="">
            @RenderBody()
        </div>

        <footer class="position-absolute bottom-0 end-0">
            <p class="text-right" style="font-size: 12px; color: #9A9A9A; padding-right:12px;"> &copy2024, Made with Pubali UI/UX Team</p>
        </footer>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const menuItems = document.querySelectorAll('.singleMenu a');

            function setActiveMenuItem() {
                // Remove 'active' class from all menu items
                menuItems.forEach(item => {
                    item.parentElement.classList.remove('active');
                });

                // Add 'active' class to menu item if href matches current URL
                menuItems.forEach(item => {
                    if (item.getAttribute('href') === window.location.pathname) {
                        item.parentElement.classList.add('active');
                    }
                });
            }

            // Set active menu item on page load
            setActiveMenuItem();

            // Add click event listener to each menu item to update active class on click
            menuItems.forEach(item => {
                item.addEventListener('click', function () {
                    menuItems.forEach(i => i.parentElement.classList.remove('active'));
                    item.parentElement.classList.add('active');
                });
            });
        });
    </script>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
